<br>
<p id="notice"><%= notice %></p>

<h1>All games</h1>
<br>
    <% @games.each do |game| %>
      <div class="card">
          <%= link_to(game) do %>
            <div class="card-image">
              <%# <figure class="image is-4by3">
                <img src="http://media.vandal.net/m/43506/metro-exodus-20176121956_1.jpg" alt="Placeholder image">
              </figure> %>
            </div>
            <div class="card-content">
              <div class="columns is-mobile is-vcentered">
                <div class="column is-8">
                  <span class="title is-5"><%= game.name %></span>
                </div>
                <div class="column is-4 has-text-right">
                  <span><%= game.price %></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <!--<tr>
        <td><%= game.name %></td>
        <td><%= game.desc %></td>
        <td><%= game.price %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>-->
    <% end %>

<br>

<%= link_to 'New Game', new_game_path %>
