<br>
<p id="notice"><%= notice %></p>

<h1>All games</h1>
<br>
    <% @games.each do |game| %>
      <div class="card">
          <%= link_to(game) do %>
            <div class="card-image">
              <div class="col-md-4">
                    <%= image_tag(("https://res.cloudinary.com/moses-nfsg/image/upload/v1549921456/storby/" + game.name + "/1"), class: "w-100", height: "100px", width: "100px") %>
                </div>
            </div>
            <div class="card-content">
              <div class="columns is-mobile is-vcentered">
                <div class="column is-8">
                  <span class="title is-5"><%= game.name %></span>
                </div>
                <div class="column is-4 has-text-right">
                  <span><%= game.price %></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <!--<tr>
        <td><%= game.name %></td>
        <td><%= game.desc %></td>
        <td><%= game.price %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>-->
    <% end %>

<br>

<%= link_to 'New Game', new_game_path %>
