<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @game.desc %>
</p>

<% if @game.relese_date %>
	<p>
	  <strong>Relese date:</strong>
	  <%= @game.relese_date %>
	</p>
<% end %>

<p>
  <strong>Status:</strong>
  <%= @game.status %>
</p>

<p>
  <strong>Price:</strong>
  <% if @game.price == 0 %>
    <span>Free</span>
  <% else %>
    <span><%= @game.price %></span>
  <% end %>
</p>

<% (1..@game.imageCounter).to_a.each do |i| %>
  <a  class="pop">
      <%= image_tag(("https://res-5.cloudinary.com/moses-nfsg/image/upload/v1/storby/" + @game.name + "/" + i.to_s), width: "200px", height: "200px") %>
  </a>
<% end %>

<%= render 'reviews/form', review: @review %>	

<% @reviews.each do |r| %>
  <% if r.recommended %>
    <strong>Recommended</strong>
  <% else %>
    <strong>Not Recommended</strong>
  <% end %><br>
  <%= r.user.email %><br>
  <%= r.created_at.to_date %><br><br>
  <%= r.text.gsub("\n", "<br />").html_safe %><br>

  <br>
<% end %>
<%= link_to "Download", rails_blob_path(@game.source[0], disposition: 'attachment') %> |
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
