<br>

<section class="section">
  <div class="container">
    <h1 class="title">
      <%= @game.name %>    
    </h1>
    <div class="tile is-ancestor">
      <div class="tile is-8 is-parent">
        <div class="tile is-child">
          <% (1..@game.imageCounter).to_a.each do |i| %>
            <a class="pop">
              <figure class="image is-16by9">
                <%= image_tag(("https://res-5.cloudinary.com/moses-nfsg/image/upload/v1/storby/" + @game.name + "/" + i.to_s)) %>
              </figure>
            </a>
          <% end %>
        </div>
      </div>

      <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child">
          <div class="content">
            <p class="is-size-4">
              <%= @game.desc %>
            </p>
          </div>
        </div>
        <div class="tile is-child">
          <% if @game.user_id %>
            <p>
              <strong>Made by:</strong>
              <%= @game.user.teamname %>
            </p>
          <% end %>
          <p> Where can you find this project? </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
        <strong class="is-size-4"><%= link_to "Изтегли", rails_blob_path(@game.source[0], disposition: 'attachment'), class: 'button is-medium', id: 'download-button', :data => { :gameid => @game.id.to_s } %></strong>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="tabs is-medium">
      <ul>
        <li class="is-active">
          <span class="icon is-small "><%= fa_icon "angle-down" %></span>
          <span>Изпрати обратна връзка на екипа</span>
        </li>
      </ul>
    </div>
    <%= render 'reviews/form', review: @review %>	
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="tabs is-medium">
      <ul>
        <li class="is-active">
          <span class="icon is-small "><%= fa_icon "angle-down" %></span>
          <span>Съобщения от потребители</span>
        </li>
      </ul>
    </div>
    <% @reviews.each do |r| %>
      <div class="box" style="box-shadow: #888888;">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <strong><%= r.username %></strong>
              |
              <small><%= r.created_at.to_date %></small>
              <br>
              <%= r.text.gsub("\n", "<br />").html_safe %>
            </div>
          </div>
          <div class="media-right">
            <% if r.recommended %>
              <strong style="color: green;">Recommended</strong>
            <% else %>
              <strong style="color: red;">Not Recommended</strong>
            <% end %>
          </div>
        </article>
      </div>
    <% end %>
  </div>
</section>

<script>
  const dlbtn = document.getElementById('download-button');
  dlbtn.addEventListener('click', () => {
    Rails.ajax({
      url: "/api/log_download",
      type: "POST",
      data: "gameid=" + dlbtn.dataset.gameid,
      success: function(data) {
        // console.log(data);
      }
    });
  }) 
</script>