<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="box">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <%= image_tag(url_for(current_user.profile_pic), style: "height: 64px; width:64px;") %>
          </p>
        </figure>
        <div class="media-content">
          <div class="field">
            <%= form.text_area :text, class: "textarea"%>
          </div>

          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <label class="checkbox">
                  <%= form.check_box :recommended %> Recommended
                </label>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <%= form.submit class: "button is-link" %>
              </div>
            </div>
          </nav>

          <div class="field">
            <%= form.hidden_field :game, value: @game.id %>
          </div>

          <div class="field">
            <%= form.hidden_field :user, value: current_user.id %>
          </div>
        </div>
      </article>
    </div>
  <% end %>
<% end %>

