<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="field">
          <%= form.label :username, "Име", class: 'label' %>
          <%= form.text_field :username, class: 'input' %>
        </div>

        <div class="field">
          <%= form.label :text, "Съобщение", class: 'label' %>
          <%= form.text_area :text, class: "textarea"%>
        </div>

        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <label class="checkbox">
                <%= form.check_box :recommended %> Отбележете, ако бихте препоръчали играта на приятели
              </label>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <%= form.submit "Изпрати", class: "button is-link" %>
            </div>
          </div>
        </nav>

        <div class="field">
          <%= form.hidden_field :game, value: @game.id %>
        </div>
      </div>
    </article>
  </div>
<% end %>

