<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @review.text %>
</p>

<p>
  <strong>Recommended:</strong>
  <%= @review.recommended %>
</p>

<p>
  <strong>Game:</strong>
  <%= @review.game.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user.email %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
