<!DOCTYPE html>
<html>

<head>
  <title>Storby</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar is-dark " role="navigation" aria-label="main navigation">
    <%# navbar %>
    <div class="container">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">
          Storby
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>

          <%# <%= fa_icon "bars" %>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item is-hoverable has-dropdown">
            <a class="navbar-link" href = "/games">
              <span >Games</span>
            </a>
            <div class="navbar-dropdown">
              <a href="#" class="navbar-item">
                Action
              </a>
              <a href="#" class="navbar-item">
                Adventure
              </a>
              <a href="#" class="navbar-item">
                Strategy
              </a>
              <hr class="navbar-divider">
              <%= link_to "All games", games_path, method: :get, :class => 'navbar-item'  %>              
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <%= form_with scope: :search, url: games_path, method: :get, local: true do |f| %>
              <div class="field has-addons">
                <div class="control">
                  <%= f.text_field :name, class: "input" %>
                </div>
                <div class="control">
                  <%= f.submit "Search", class: 'button' %>
                </div>
              </div>
            <% end %>
          </div>
          <% if user_signed_in? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-arrowless">
              <span><%= current_user.teamname %></span>
            </a>
            <div class="navbar-dropdown">
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item' %>
              <%# <%= link_to 'Library', { controller: 'users/custom', action: 'library' }, :class => 'navbar-item'%> %>
              <hr class="navbar-divider">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => 'navbar-item'  %>
            </div>
          </div>
          <%= link_to(edit_user_registration_path, class: 'navbar-item') do %>

          <%= image_tag(url_for(current_user.profile_pic), size: "64x64", style: 'object-fit: cover;', class: 'navbar-avatar') %>
          <% end %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-item' %> 
            <%= link_to "Log in", new_user_session_path, :class => 'navbar-item' %>  
          <% end %>

        </div>
      </div>
    </div>
  </nav>
  <% if notice %>
    <section class="section">
      <div class="container">
        <div class="notification is-success">
          <button class="delete"></button>
          <%= notice %>
        </div>
      </div>
    </section>
  <% end %>
  <% if alert %>
    <section class="section">
      <div class="container">
        <div class="notification is-danger">
          <button class="delete"></button>
          <%= alert %>
        </div>
      </div>
    </section>
  <% end %>
  <%= yield %>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        $notification = $delete.parentNode;
        $container = $notification.parentNode;
        $section = $container.parentNode;
        $delete.addEventListener('click', () => {
          $section.remove();
        });
      });
    });
  </script>
</body>
</html>