<!DOCTYPE html>
<html>

<head>
  <title>Storby</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="" class="navbar-item">
        Storby
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>

        <%# <%= fa_icon "bars" %>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="field has-addons navbar-item">
          <div class="control">
            <input class="input" type="text" placeholder="Search...">
          </div>
          <div class="control">
            <a class="button is-dark">
              <%= fa_icon "search" %>
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>
              <%= image_tag(url_for(current_user.profile_pic))%>
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'button is-dark' %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'button is-light'  %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'button is-dark'  %> 
              <%= link_to "Login", new_user_session_path, :class => 'button is-light'  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</body>

</html>